In [1]:

import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('kbo_database.db')

#query to list all tables in the database
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

#print the names of the tables
for table in tables:
    print(table[0])

conn.close()

denomination
branch
activity
establishment
address
contact
meta
code
enterprise
sqlite_stat1
sqlite_stat4

In [3]:
import sqlite3

# Reconnect to the SQLite database
conn = sqlite3.connect('kbo_database.db')

#see column names of a specific table and schema
cursor = conn.execute("PRAGMA table_info(enterprise);")
for col in cursor:
    print(col)

(0, 'EnterpriseNumber', 'TEXT', 0, None, 0)
(1, 'Status', 'TEXT', 0, None, 0)
(2, 'JuridicalSituation', 'INTEGER', 0, None, 0)
(3, 'TypeOfEnterprise', 'INTEGER', 0, None, 0)
(4, 'JuridicalForm', 'REAL', 0, None, 0)
(5, 'JuridicalFormCAC', 'REAL', 0, None, 0)
(6, 'StartDate', 'TEXT', 0, None, 0)

In [4]:
# Reconnect to the SQLite database
conn = sqlite3.connect('kbo_database.db')

#see column names of a specific table and schema
cursor = conn.execute("PRAGMA table_info(meta);")
for col in cursor:
    print(col)

(0, 'Variable', 'TEXT', 0, None, 0)
(1, 'Value', 'TEXT', 0, None, 0)

In [5]:
# Read a table into a DataFrame
df = pd.read_sql_query("SELECT * FROM enterprise LIMIT 5", conn)

df.head()  # Display the first few rows of the DataFrame

,EnterpriseNumber,Status,JuridicalSituation,TypeOfEnterprise,JuridicalForm,JuridicalFormCAC,StartDate
0,0200.065.765,AC,0,2,416.0,None,09-08-1960
1,0200.068.636,AC,0,2,417.0,None,16-02-1923
2,0200.171.970,AC,0,2,116.0,None,01-01-1968
3,0200.245.711,AC,12,2,116.0,None,01-01-1922
4,0200.305.493,AC,0,2,416.0,None,19-03-1962

In [6]:
#see row count of a specific table
row_count = conn.execute("SELECT COUNT(*) FROM enterprise;").fetchone()[0]
print(f"Row count of 'enterprise' table: {row_count}")

# Close the database connection
conn.close()

Row count of 'enterprise' table: 1926246

In [8]:
# List all tables in the SQLite database using Python
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
for table in tables:
	print(table[0])

ProgrammingError: Cannot operate on a closed database.